body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-fluid {
    margin-top: 100px;
    padding-top: 20px;
    background-color: aquamarine;
    width: 500px;
    height: 400px;
    border-radius: 5px;
    border: cornflowerblue solid 2px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.input-primary{
    height: 40px;
    border-radius: 5px;
    border: rgb(241, 135, 135) solid 2px ;
}

.input-edit {
    border-radius: 5px;
    border: rgb(241, 135, 135) solid 2px ;
}




.eliminar-icon {
    display: none;
    cursor: pointer;
    color: red;
    font-weight: bold;
    margin-left: 250px;
    
}

.tarea-item:hover .eliminar-icon {
    display: inline;
}

.btn {
    gap: 2;
}


  